.apresentation {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    height: 80vh;
    width: 100vw;
    background-image: url(../assets/treino.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    margin-right: 8vw;
    /* width: 37vw; */
    margin-bottom: 2vh;
    background-color: rgb(252, 252, 252);
    border-radius: 5px;
    padding: 2%;
}

.title {
    text-align: justify;
    /* font-size: 20pt; */
    font-size: clamp(1.1rem, 0.75rem + 1.25vw, 2rem);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-weight: bold;
    margin-bottom: 1vh;
}

.text {
    text-align: justify;
    line-height: 1.2;
}

.text>p {
    font-size: clamp(0.90rem, 0.605rem + 0.725vw, 1.33rem);
    font-weight: bolder;
}

.butons {
    display: flex;
    margin-top: 2vh;
    transition: all 0.4s ease;
}

.butons>:first-child {
    margin-right: 1vw;
}

.button {
    display: flex;
    align-items: center;
    height: 5vh;
    padding: 10px;
    padding-right: 20px;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.4s ease;
    border: 1px solid black;
    box-shadow: 2px 2px 2px 2px black;
}

.button:hover {
    background-color: blanchedalmond;
}

.button_text {
    margin-left: 1vw;
    font-size: 15pt;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.4s ease;
}

@media(max-width: 600px) {
    .butons {
        justify-content: center;
    }
}

@media(max-width: 400px) {
    .butons {
        flex-direction: column;
        align-items: center;
    }
    .butons>:first-child {
        margin-bottom: 2vh;
    }
}