.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.container_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5vh;
    height: 100%;
}

.card {
    display: flex;
    font-size: clamp(0.95rem, 0.605rem + 0.725vw, 1.33rem);
    position: relative;
    flex-direction: column;
    width: 24vw;
    border-radius: 15px;
    box-shadow: 1px 5px 60px 0px #100a886b;
    cursor: pointer;
    transition: all 0.4s ease;
    padding-top: 5%;
    padding-bottom: 5%;
}

.card:hover {
    transform: scale(1.04);
}

@media(max-width: 1200px) {
    .container_cards {
        grid-template-columns: repeat(1, 1fr);
        /* grid-template-rows: repeat(2, 1fr); */
    }
    .card {
        width: 35vw;
    }
}

@media(max-width: 800px) {
    .card {
        width: 45vw;
    }
    .circle {
        display: none;
    }
}

@media(max-width: 580px) {
    .card {
        width: 65vw;
    }
}

@media(max-width: 580px) {
    .card {
        width: 65vw;
    }
}

.circle {
    width: 4vw;
    height: 8vh;
    background-color: black;
    border-radius: 100%;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
    top: -25px;
    left: -45px;
}

@keyframes move-up6 {
    to {
        transform: translateY(45vh);
    }
}


/* elementos do card interno */

.card_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
    border: 1px solid black;
    border-radius: 100%;
    padding: 15px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.card_title {
    font-size: 18pt;
    margin-left: 10%;
    margin-top: 1vh;
}

.linha {
    margin-top: 2vh;
    height: 2px;
    background-color: black;
    width: 80%;
}

.card_text {
    text-align: center;
    margin-top: 2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 80%;
    line-height: 1.5;
}