footer {
    display: flex;
    align-items: center;
    height: 10vh;
    background-color: black;
    width: 100vw;
}

.creditos {
    color: white;
    display: flex;
}

.creditos>a {
    margin-left: 0.5vw;
}