* {
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

header {
    display: flex;
    height: 10vh;
    background-color: black;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    color: white;
}

.logo>p {
    font-size: 20pt;
    margin-right: 0.5vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

nav {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: 10vw;
    width: 30vw;
}

ul {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

ul>a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
    font-size: 15pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease;
}

a:hover {
    background-color: white;
    color: black;
}

.close {
    display: none;
    color: white;
}

.dropmenu {
    display: none;
    align-items: center;
    background-color: blueviolet;
}

@media(max-width: 1030px) {
    nav {
        position: absolute;
        flex-direction: column;
        height: 100vh;
        width: 45vw;
        left: -50vw;
        top: 10vh;
        background-color: black;
        transition: all 0.4s ease;
    }
    .menu {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 90%;
    }
    a {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .logo {
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }
    .dropmenu {
        display: flex;
    }
    .close {
        display: block;
        margin-top: 2vh;
        margin-bottom: 3vh;
    }
}

.active {
    left: 0vw;
}

@keyframes bringlinks {
    from {
        opacity: 0;
        transform: translateX(-500px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}